.viber-landing {
  .container {
    padding: 0px 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @media screen and (min-width: $laptop) {
      padding: 0px 100px;
    }
    @media screen and (min-width: $desktop) {
      padding: 0px 250px;
    }
    &--off {
      padding: 0;
      @media screen and (min-width: $laptop) {
        padding: 0px 100px;
      }
      @media screen and (min-width: $desktop) {
        padding: 0px 250px;
      }
    }
  }
}
