.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../images/svg/hero-background-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: $phone) {
  }
  @media screen and (min-width: $tablet) {
    width: calc(100% / 3 * 2);
    margin-left: calc(100% / 3);
    background-image: url("../../images/svg/hero-background.svg");
  }
  @media screen and (min-width: $laptop) {
    width: calc(100% / 4 * 3);
    margin-left: calc(100% / 4);
  }
  @media screen and (min-width: $laptop-desktop) {
    width: calc(100% / 3 * 2);
    margin-left: calc(100% / 3);
  }
  @media screen and (min-width: $desktop) {
    width: 70%;
    margin-left: 30%;
  }
  @media screen and (min-width: $broad) {
  }
}

.pre-background {
  position: relative;
}
