.banner {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(
    45deg,
    $blue-violet-1 0%,
    $blue-violet-2 25%,
    $blue-violet-2 58%
  );
  &__title {
    color: $secondary-text;
    max-width: 1040px;
    line-height: 140%;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    @media screen and (min-width: $phone) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $laptop) {
      font-weight: 600;
      font-size: 26px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 32px;
      margin-bottom: 35px;
    }
    @media screen and (min-width: $broad) {
    }
    &--secondary {
      text-transform: uppercase;
      margin-bottom: 45px;
      @media screen and (min-width: $phone) {
      }
      @media screen and (min-width: $tablet) {
      }
      @media screen and (min-width: $laptop) {
        margin-bottom: 50px;
      }
      @media screen and (min-width: $desktop) {
        margin-bottom: 60px;
      }
      @media screen and (min-width: $broad) {
      }
    }
  }
}
