.faq {
  padding: 115px 0 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $laptop) {
    padding: 50px 170px 70px 170px;
  }
  @media screen and (min-width: $desktop) {
    padding: 100px 370px 130px 370px;
  }

  &__title {
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;

    @media screen and (min-width: $desktop) {
      margin-bottom: 100px;
    }

    &--secondary {
      margin-bottom: 0;
      font-size: 24px;
      font-weight: 700;
      @media screen and (min-width: $laptop) {
        margin-right: 20px;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media screen and (min-width: $desktop) {
      margin-right: 0;
      width: 1200px;
    }

  }
  &__item {
    color: $main-text-transparent;
    padding: 25px;
    border-radius: 10px;
    border: none;
    background-color: $main-background;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &--active {
      background-image: linear-gradient(
        45deg,
        $blue-violet-1-transparent 0%,
        $blue-violet-2-transparent 25%,
        $blue-violet-2-transparent 58%
      );
      color: $main-text;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--margin {
      margin-bottom: 30px;
      @media screen and (min-width: $laptop) {
        margin-bottom: 20px;
      }
    }
  }
  &__img {
    width: 40px;
    height: 40px;
    display: none;
    @media screen and (min-width: $laptop) {
      display: block;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    max-width: 1000px;
    text-align: start;
    @media screen and (min-width: $laptop) {
      padding-right: 100px;
    }
  }
}
