.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (min-width: $laptop) {
    flex-direction: row;
  }
  &__image {
    margin-bottom: -2px;
    max-width: 828px;
    width: 100%;
  }
  &__wrapper {
    @media screen and (min-width: $tablet) {
      max-width: 420px;
      margin-right: auto;
    }
    @media screen and (min-width: $laptop) {
      margin-right: 30px;
    }
    @media screen and (min-width: $laptop-desktop) {
      max-width: 520px;
    }
  }
  &__text {
    color: $secondary-text;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
    @media screen and (min-width: $tablet) {
      color: $main-text;
      font-weight: 600;
      font-size: 25px;
      margin-bottom: 25px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 40px;
      margin-bottom: 75px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 32px;
    color: $secondary-text;
    margin-bottom: 20px;
    @media screen and (min-width: $tablet) {
      color: $main-text;
      font-size: 36px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 48px;
    }
  }
  &__span {
    font-weight: 700;
    font-size: 32px;
    color: $secondary-text;
    @media screen and (min-width: $tablet) {
      font-weight: 800;
      color: $span-text;
      font-size: 36px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 48px;
    }
  }
}
