.section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 130px;
  padding-top: 100px;
  &--gray {
    background-color: $secondary-background;
  }
  &--padding {
    padding-bottom: 0;
    padding-top: 0;
  }
  &__about {
    margin-right: 140px;
    position: relative;
    max-width: 700px;
    padding: 62px 60px 62px 65px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(
      45deg,
      $blue-violet-1-transparent 0%,
      $blue-violet-2-transparent 25%,
      $blue-violet-2-transparent 58%
    );
  }
  &__bots {
    margin-right: 65px;
    max-width: 640px;
    padding-bottom: 130px;
    padding-top: 100px;
  }
  &__limitations {
    flex-direction: column;
    align-items: flex-start;
  }
  &__opportunity {
    flex-direction: column;
    align-items: center;
  }
  &__text {
    color: $main-text;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    &--span {
      font-weight: 700;
    }
    &--margin {
      margin-bottom: 30px;
    }
    &--steps {
      color: $main-text-transparent;
    }
    &--limitations {
      max-width: 670px;
    }
  }
  &__img {
    &--viber {
      position: absolute;
      top: 60px;
      right: -60px;
      width: 100px;
      height: 100px;
      transform: rotate(30deg);
    }
    &--messenger {
      max-width: 745px;
    }
    &--phone {
      max-width: 650px;
      margin-right: 100px;
      margin-bottom: -50px;
    }
    &--calendar {
      position: absolute;
      top: -158px;
      left: -266px;
      width: 415px;
      height: 300px;
    }
    &--limitations {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 80px;
      height: 80px;
    }
    &--opportunity {
      width: 60px;
      height: 60px;
      margin-bottom: 15px;
    }
    &--secrets {
      position: absolute;
      top: -50px;
      right: 62px;
      width: 330px;
      height: 300px;
    }
  }
  &__clients {
    max-width: 500px;
  }
  &__title {
    color: $main-text;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 45px;
    &--span {
      font-weight: 700;
      color: $span-text;
    }
    &--clients {
      margin-bottom: 22px;
    }
    &--steps {
      display: flex;
      flex-direction: column;
    }
    &--limitations {
      margin-bottom: 25px;
      max-width: 650px;
    }
    &--secondary {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 40px;
    }
    &--opportunity {
      margin-bottom: 100px;
      text-align: center;
      max-width: 650px;
    }
    &--list {
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 16px;
    }
    &--margin {
      margin-bottom: 20px;
    }
    &--semibold {
      font-weight: 600;
    }
    &--secrets {
      max-width: 320px;
      margin: 0;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    &--clients {
      gap: 30px;
      margin-top: 50px;
      flex-direction: row;
    }
    &--steps {
      gap: 5px;
    }
    &--limitations {
      align-items: normal;
      flex-direction: row;
      gap: 20px;
    }
    &--opportunity {
      align-items: normal;
      flex-direction: row;
      gap: 22px;
    }
    &--secrets {
      flex-wrap: wrap;
      flex-direction: row;
      align-items: normal;
      row-gap: 100px;
      column-gap: 50px;
    }
  }
  &__item {
    &--clients {
      width: 80px;
      height: 80px;
    }
    &--steps {
      position: relative;
      width: 100%;
      padding: 25px;
      border-radius: 10px;
      border: none;
      background-color: $secondary-background;
    }
    &--active {
      background-image: linear-gradient(
        45deg,
        $blue-violet-1-transparent 0%,
        $blue-violet-2-transparent 25%,
        $blue-violet-2-transparent 58%
      );
    }
    &--limitations {
      position: relative;
      width: calc((100% - 2 * 20px) / 3);
      padding: 60px 40px;
      border-radius: 10px;
      border: none;
      background-color: $main-background;
    }
    &--opportunity {
      width: calc((100% - 2 * 22px) / 3);
      padding: 30px;
      border-radius: 10px;
      border: none;
      background-image: linear-gradient(
        45deg,
        $blue-violet-1-transparent 0%,
        $blue-violet-2-transparent 25%,
        $blue-violet-2-transparent 58%
      );
    }
    &--first {
      position: relative;
    }
    &--secrets {
      width: calc((100% - 2 * 50px) / 3);
    }
  }
  &__icon {
    position: absolute;
    top: calc(50% + 4px);
    left: -12px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 6px;
    background-color: transparent;
    background-image: url("../../images/svg/point.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
    &--calendar {
      position: relative;
      max-width: 460px;
      padding: 35px 20px 35px 30px;
      border-radius: 10px;
      border: none;
      background-image: linear-gradient(
        45deg,
        $blue-violet-1-transparent 0%,
        $blue-violet-2-transparent 25%,
        $blue-violet-2-transparent 58%
      );
    }
  }
}
