@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
  font-optical-sizing: auto;
}

$main-background: #ffffff;
$secondary-background: #f5f5f5;
$image-background: #f2f2f2;

$main-text: #000000;
$main-text-transparent: #0000005e;
$secondary-text: #ffffff;
$span-text: #7860f2;

$contact-button-1: #fb5d02;
$contact-button-2: #ffad69;
$contact-button-shadow: #ff862f8a;
$contact-button-hover-1: #ff9457;
$contact-button-hover-2: #ffad69;

$blue-violet-1: #1380f6;
$blue-violet-2: #7860f2;
$blue-violet-1-transparent: #1380f64d;
$blue-violet-2-transparent: #7860f24d;
$blue-violet-shadow: #7860F259;
$blue-violet-shadow-1: #1380f694;
$blue-violet-shadow-2: #7860f288;
$blue-violet-hover-1: #479fff;
$blue-violet-hover-2: #9985ff;

$icon-shadow: #00000040;
$link-color: #0862f6;

$desktop: 1280px;
$tablet: 768px;
$phone: 480px;
